@tailwind base;
@tailwind components;
@tailwind utilities;

/* Declaring custom font families */
@layer base {
  @font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Fraunces/Fraunces-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  }
}
